body.bg-pink {
    background-color: #ffb6c1;
}

.text-white {
    color: #fff;
}

.kitty-img, .teddy {
    width: 200px;
    height: auto;
    margin: 10px;
}

.heart-img {
    width: 150px;
    margin-top: 20px;
}

.teddy-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

