body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2 {
    color: #2e7d32;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
}

input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 200px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 0.9em;
}

th {
    background-color: #4CAF50;
    color: white;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover {
    background-color: #e60000;
}

section div {
    margin-bottom: 10px; /* Tilføjer afstand mellem elementerne */
}

section label {
    display: block; /* Gør labels til 'block'-elementer for at stå alene */
    font-weight: bold; /* Gør labels lidt tydeligere */
}

button#dispenseBtn {
    margin-top: 10px;
    background-color: #28a745; /* Grønt for Dispense-knap */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

